.ProductScreen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0 5px;
  transition-duration: 450ms;
}
.rightScreen {
  width: 60%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  top: 0;
}

.leftScreen {
  width: 40%;
}
.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.heart {
  position: absolute;
  right: 15px;
  top: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cartBtn {
  background-color: #ff9f00;
  padding: 12px 20px;
  margin: 35px 12px;
  font: bold;
  transition-duration: 450ms;
  border-radius: 4px;
  width: 50%;
}
.cartBtn:hover {
  transform: scale(1.05);
}

.buyBtn {
  background-color: #fb641b;
  padding: 12px 20px;
  margin: 0 12px;
  font: bold;
  transition-duration: 450ms;
  border-radius: 4px;
  width: 50%;
}

.buyBtn:hover {
  transform: scale(1.05);
}

.buyBtn:active {
  transform: scale(0.95);
}

.cartBtn:active {
  transform: scale(0.95);
}

.delivery__col {
  display: flex;
  justify-content: center;
  align-items: center;
}
