.Cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-y: none;
  overflow-x: hidden;
  width: 100%;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}

.Cards::-webkit-scrollbar {
  display: none;
}

.Cards > .Cards__info > img {
  width: 32vw;
  margin-left: 10px;
}
