.more__ind {
  display: flex;
  align-items: center;
  padding: 0 7px;
  height: 8vh;
  /* color: black;
    background-color: white;
    outline: none; */
  cursor: pointer;
  font-size: smaller;
  font-weight: 600;
}

.more__ind > .MuiSvgIcon-root {
  margin-right: 12px;
  color: #2874f0 !important;
}

.more__ind > Link .MuiSvgIcon-root {
  margin-right: 12px;
  color: #2874f0 !important;
}

.more__ind:hover {
  background-color: rgb(245, 243, 233);
}

.nav__head {
  display: flex;
  align-items: center;
}

h4 {
  padding-right: 2vw;
}

#nav__head2 {
  color: #2874f0;
}

p {
  color: black;
  text-align: center;
}

.ico {
  color: #2874f0 !important;
}
