.forgot__password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.password__container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  height: 70vh;
  width: 500px;
  color: white;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.password__container > h1 {
  margin-top: 5rem;
}

.password__container > form {
  width: 100%;
  display: grid;
  flex-direction: column;
}

.password__container > form input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 5px;
  outline-width: 0;
  border: none;
  padding: 15px 15px;
  margin: 3rem auto;
}

.password__container > form button {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  margin-bottom: 20px;
  color: white;
  border-radius: 5px;
  background-color: #0875c9;
  cursor: pointer;
  justify-content: center;
}
